* {
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

body {

    background: white;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    min-width: 480px;
}


header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: darkslategray;
    height: 30%;
}

.time-left {
    font-size: 4rem;
}

main {
    justify-content:center;
    align-content: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content:center;
    align-items:center; */
    margin-top: 0;
    align-content: space-around;
}

#question-container {
    width: 780px;
    max-width: 78%;
    /* background-color: azure; */
    /* justify-content: center;
    align-items: center; */
    /* border: 2px solid black; */
    border-radius: 15px;
}


#question-lines {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    font-size: 2rem;
    font-weight: bolder;
    color:teal;
    margin-left: 30px;
}

#answer-btn {
    display: flex;
    flex-direction: column;
    margin:40px;
}

button {
    background-color: grey;
    color: white;
    /* border: 2px solid black; */
    /* border-radius: 10px; */
    text-align: center;
    margin-top: 1rem;
    font-size: 25px;
    cursor: pointer;
}

.start {
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    margin: 2px;

}

.start-btn {
    padding: 20px 40px;
}




/* 
.hide {
    display: none;
}
 */
